<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <link rel="stylesheet" href="../../css/release/styleDetail.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Baza Gier</title>
</head>

    <body>
        <header>
            <h1>Baza Gier CFA</h1>
            <img src="../../img/logo.png" alt="Baza Gier CFA Logo">
        </header>
        <nav>
            <ul>
                <li><a href="../../index.html">Strona główna</a></li>
                <li><a href="../Game/game-list.html">Gry</a></li>
                <li><a href="../Platform/platform-list.html">Platformy</a></li>
                <li><a href="" class="active">Wydania</a></li>
            </ul>
        </nav>
        <main>
            <h2 >Szczegóły Wydania</h2>
            <form class="form">
                <!--<div class="form-group">-->
                    <label for="gra">Gra:<sup>*</sup></label>
                    <select name="gra" id="gra" disabled>
                        <option selected disabled>Call of Duty: Black Ops Cold War standard</option>
                    </select>
                    <!--<input type="text" name="gra" id="gra" disabled/>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <label for="platform">Producent:<sup>*</sup></label>
                    <select name="platform" id="platform" disabled>
                        <option selected disabled>PlayStation 5</option>
                    </select>
                <!--</div>-->
                <!--<div class="form-group">-->
                    <label for="releaseDate">Data Premiery:<sup>*</sup></label>
                    <input type="date" name="releaseDate" id="releaseDate" disabled />
                <!--</div>-->
                <!--<div class="form-group">-->
                    <label for="price">Cena:<sup>*</sup></label>
                    <input type="number" name="price" value="169.00" id="price" disabled />
                <!--</div>-->
                <!--<div class="form-group">-->
                    <label for="version">Wersja:<sup>*</sup></label>
                    <input type="number" name="version" value="1.2" id="version" disabled />
                <!--</div>-->
                <div class="form-button">
                    <a href="graNaWyd-edit.html" class="button-cancel">Edytuj</a> 
                    <a href="graNaWyd-list.html" class="button-back">Powrót</a>       
                </div> 
                <p><b></b></p>
            </form>
        </main>
        <%- include('../../fragments/footer.ejs') %>